<h2>Question #<%= @question.id %></h2>
<%= ng_clean(to_blank(@question.text, @question.word)) %><br /><br />

What's the answer?
<br /><br />
<%= form_for @question, url: {action: "grade"} do |f| %>
  <%= f.select(:guess, options_for_select(@question.answer.shuffle)) %><br /><br /><br />
  <%= f.submit "Next" %>
<% end %> 
