<h2>Create a new list</h2>
<%= form_for @list do |f| %>
	<p>
		<%= f.label :name %>
	</p>
	<p>
		<%= f.text_field :name, placeholder: "List name..." %>
	<p>
		<%= label_tag "Enter your words:" %>
	</p>
	<p>
		<%= text_area_tag(:words) %>
	</p>
	<%= f.submit "Create list" %>
<% end %>