<h2><%= @list.name %></h2>
<% if @list.wordlists.first != nil %>
	<p>Here are the words on your list:</p><br />

	<% @list.wordlists.each do |wordlist| %>

		<%= div_for wordlist do %>
			<%= wordlist.word.name %> <br />
			<% if wordlist.word.definition? %>
				Definition: <%= wordlist.word.definition %>
			<% else %>
				Definition: <%= Wordnik.word.get_definitions(wordlist.word.name, limit: 1)[0]['text'] %>
			<% end %>
			<%= link_to "Delete", nil, class: "btn btn-danger" %>
			<br />
		<% end %>
	<% end %>
<% else %>
	<p>No words on your list yet, why not <%= link_to "add some", dictionary_path %></br>
<% end %> 

<%= link_to "Back to profile", @user %>