<div class="container">
  <h2>List: <%= @list.name %>
    <%= link_to "Edit list", edit_list_path(@list), class: "btn btn-info" %></h2>
    <% if @list.wordlists.first != nil %>
	      <p>Words:</p><br />

	      <% @list.wordlists.each do |wordlist| %>

		        <%= div_for wordlist do %>
		      	<%= wordlist.word.name %> <br />
		          	<% if wordlist.word.definition? %>
			            	Definition: <%= wordlist.word.definition %>
		          	<% else %>
			            	Definition: <%= Wordnik.word.get_definitions(wordlist.word.name, limit: 1)[0]['text'] %>
			          <% end %>
                <% if wordlist.word.pos? %>
                    <%= wordlist.word.pos %>
                <% end %>
                <% if wordlist.word.ipa? %>
                    <%= wordlist.word.ipa %>
                <% end %>
		      	<br />
		        <% end %>
            <br />
	      <% end %>
    <% else %>
        <p>No words on your list yet, why not <%= link_to "add some", dictionary_path %><br/>
    <% end %> 

    <%= link_to "Lists", lists_path, class: "btn btn-primary" %>
    <%= link_to "Quizzes", quizzes_path, class: "btn btn-primary" %>
</div>