<h2><%= @list.name %></h2>
<% if @list.wordlists.first != nil %>
<p>Here are the <%= @list.name %> NGSL words:</br></p>

<% @list.wordlists.all.each do |wordlist| %>
<li>
<%= link_to wordlist.word.name, word_path(wordlist.word.id) %> 
</li>
<% end %>
<% else %>
<p>No words on your list yet, why not <%= link_to "add some", dictionary_path %></br>
<% end %> 

<%= link_to "Back to profile", current_user %>