<%= div_for quiz do %>
	<div class="col-md-3">
		<div class="span-7 text-center">
      <%= image_tag("question-mark.png", width: '90', class: "img-responsive center-block") %>
      <%= link_to quiz.name, quiz_review_path(quiz.id) %> <br/>
			<% if quiz.finished? %>
			<%= link_to "Results", quiz_results_path(quiz), class: 'btn btn-default' %> <br/>
			<% elsif quiz.questions.first != nil %>
			<%= link_to "Take quiz", question_answer_path(question_id: quiz.questions.incomplete.first.id), class: 'btn btn-default' %> <br/>
			<% else %>	
			<%= link_to "Broken, delete!", nil %> <br/>
			<% end %>
			<%= link_to "Delete", quiz_path(quiz), method: 'delete', data: { confirm: "Are you sure?" }, remote: true, class: 'btn btn-danger' %>
		</div>
	</div>
<% end %>