<div class="panel panel-default">
	<div class="panel-heading">Take a quiz!</div>
	<div class="panel-body">
		<div class="span-7 text-center">
		<p><%= link_to "New Quiz", new_quiz_path, class: "btn btn-info btn-lg" %>
			<%= link_to "Lists", lists_path, class: "btn btn-info btn-lg" %><br />
		Click any quiz name to review its words and definitions<br />
		</p>
		</div>
	</div>
	<div class="container">
	 	<div class="row centered">
	 		<div class="col-md-3 pull-right">
	 		<%= form_for(Quiz.new, remote: true) do |f| %>
		 		<p>Choose a list or build your own</p>
				<p>
					<%= f.select(:list_id, options_for_select(current_user.lists.collect { |l| [l.name, l.id]} )) %> <%= link_to "New list", new_list_path, class: "btn btn-primary btn-sm" %>
				</p>
				<p>
					Quiz Type
					<%= select(:quiz, :kind, [['Multiple choice', 1], ['Unscramble', 2], ['Matching', 3]]) %>
				</p>
				<p>
					<%= f.text_field :name, placeholder: "Quiz name" %>
				</p>
					<%= f.submit "Create" %>
			<% end %>
	 		</div>
	 		<div class="quizzes">
			<%= render @quizzes %>
			</div>
		</div> <!--end row-centered-->
	</div> <!--container-->
</div> <!--panel-->

<div class="text-center">
	<%= will_paginate @quizzes, renderer: BootstrapPagination::Rails %>
</div>