<div class="panel panel-default">
	<div class="panel-heading">Take a quiz!</div>
	<div class="panel-body">
		<div class="span-7 text-center">
		<p><%= link_to "New Quiz", new_quiz_path, class: "btn btn-info btn-lg" %>
			<%= link_to "Lists", lists_path, class: "btn btn-info btn-lg" %><br />
		Click any quiz name to review its words and definitions<br />
		</p>
		</div>
	</div>
	<div class="container">
	 	<div class="row centered">
			<% @quizzes.each do |quiz| %>
				<%= div_for quiz do %>
					<div class="col-md-3">
						<div class="span-7 text-center">
							<img src="assets/question-mark.png" width="90"> <br/>
							<%= link_to quiz.name, quiz_review_path(quiz.id) %> <br/>
							<% if quiz.finished? %>
							<%= link_to "Results", quiz_results_path(quiz) %> <br/>
							<% elsif quiz.questions.first != nil %>
							<%= link_to "Take quiz", question_answer_path(question_id: quiz.questions.first.id) %> <br/>
							<% else %>	
							<%= link_to "Broken, delete!", nil %> <br/>
							<% end %>
							<%= link_to "Delete", quiz_path(quiz), method: 'delete', data: { confirm: "Are you sure?" }, remote: true %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div> <!--end row-centered-->
	</div> <!--container-->
</div> <!--panel-->

<div class="text-center">
	<%= will_paginate @quizzes, renderer: BootstrapPagination::Rails %>
</div>