<%= link_to "New Quiz", new_quiz_path, class: "btn btn-info" %></br>


<table class = "table table-hover">
<tr>
	<th>Name</th>
	<th>Review Definitions</th>
	<th>Info</th>
</tr>
<% @quizzes.each do |quiz| %>
	<tr>
		<td>
			<%= link_to quiz.name, quiz_path(quiz) %> 
		</td>
		<td>
			<%= link_to "Review", quiz_review_path(quiz.id) %>
		</td>
		<% if quiz.finished? %>
		<td>
			Finished! <%= link_to "Score", quiz_results_path(quiz) %>
		</td>
		<td>
		<% elsif quiz.questions.first != nil %>
		<td>
			<%= link_to "Take quiz", question_answer_path(question_id: quiz.questions.first.id) %> 
		</td>
		<% else %>
		<td>
			<%= link_to "Broken, delete!", nil %>
		</td>
		<% end %>
	</tr>
<% end %>
</table>