<h2>Make a New quiz</h2>

<%= form_for [@user, @quiz] do |f| %>
<p>
	<%= f.label :category %>
</p>
<p>
  <%= f.select(:category_id, options_for_select(@categories.collect { |c| [c.name, c.id]} )) %>
</p>
<p>
	<%= f.label :name %>
</p>
<p>
	<%= f.text_field :name %>
</p>
  <%= f.submit "Create" %>
<% end %>