<h2>New Quiz</h2>
<%= form_for @quiz do |f| %>
<p>
	Choose a list or build your own
</p>
<p>
  <%= f.select(:list_id, options_for_select(current_user.lists.collect { |l| [l.name, l.id]} )) %> <%= link_to "New list", new_list_path, class: "btn btn-primary btn-sm" %>
</p>
<p>
	Quiz Type
	<%= select(:quiz, :kind, [['Multiple choice', 1], ['Matching', 2], ['Unscramble', 3]]) %>
</p>
<p>
	<%= f.text_field :name, placeholder: "Quiz name" %>
</p>
  <%= f.submit "Create" %>
<% end %>