

<h2><%= @quiz.questions.where(correct: true).count %> out of <%= @quiz.questions.count %> correct</h2><br/>
<%= link_to "Back to Quizzes", quizzes_path(current_user), class: "btn btn-info pull-right" %>
<%= link_to "Stats", user_path(current_user), class: "btn btn-success pull-right" %>



<table class="table">
	<% @quiz.questions.incorrect.each do |question| %>
	<tr>
		<td>
			<strong>Question <%= question.position %></strong>: 
      <% unless @quiz.kind == 3 %>
          <% if question.text != nil %>
              <%= ng_clean(to_blank(question.text, question.word)) %>
          <% else %>
              <%= to_blank((get_text(question.word)) , question.word) %>
          <% end %>
      <% else %>
          <%= get_scrambled question.word %>
      <% end %>
		</td>
	</tr>
	<tr class="danger">
		<td>
			Your answer: <%= question.guess %>
		</td>
	</tr>
	<tr class="success">
		<td>
      <% unless @quiz.kind == 3 %>
			    Correct answer: <%= question.word %>
      <% else %>
          Correct answer: <%= get_text question.word %>
      <% end %>
		</td>
	</tr>
	<% end %>
</table>
<table class="table">
	<% @quiz.questions.correct.each do |question| %>
	<tr>
		<td>
      
			<strong>Question <%= question.position %></strong>:
      <% if question.text != nil %>
          <%= ng_clean(to_blank(question.text, question.word)) %>
      <% else %>
          <%= to_blank((get_text(question.word)) , question.word) %>
      <% end %>
      
		</td>
	</tr>
	<tr>
		<td class="success">
			Your answer: <%= question.guess %>
		</td>
	</tr>
	<% end %>
</table>