

<h2><%= @quiz.questions.where(correct: true).count %> out of <%= @quiz.questions.count %> correct</h2><br/><%= link_to "Stats", user_path(current_user), class: "btn btn-default pull-right" %>

<strong>Incorrect answers:</strong><br /><br />
<table class="table">
	<% @quiz.questions.where(correct: false).each do |question| %>
	<tr>
		<td>
			<strong>Question <%= question.position %></strong>: <%= ng_clean(to_blank(question.text, question.word)) %>
		</td>
	</tr>
	<tr class="danger">
		<td>
			Your answer: <%= question.guess %>
		</td>
	</tr>
	<tr class="success">
		<td>
			Correct answer: <%= question.word %>
		</td>
	</tr>
	<% end %>
</table>
<table class="table">
	<% @quiz.questions.where(correct: true).each do |question| %>
	<tr>
		<td>
			<strong>Question <%= question.position %></strong>: <%= ng_clean(to_blank(question.text, question.word)) %>
		</td>
	</tr>
	<tr>
		<td class="success">
			Your answer: <%= question.guess %>
		</td>
	</tr>
	<% end %>
</table>