<div class="jumbotron">
	<% if current_user %>
  	<h1>Hi again!</h1>
  	<p>Take a quiz or check your progress</p>
  	<%= link_to "Take a quiz!", quizzes_path, class: "btn btn-primary btn-lg" %>
  	<%= link_to "Check stats", user_path(current_user), class: "btn btn-primary btn-lg" %>
	<% else %>
    <div class="text-center"><h1>Perfect Your English</h1>
    <h2>-- with millions of authentic examples!</h2>
    <%= video_tag("intro.ogv", controls: true, size: "450x250", poster: 'poster.png') %><br />
  	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></div>
	<% end %>
</div>
<div class= "container">
  <h1 id="download" class="page-header">Shazam:</h1>  
    <div class="row bs-downloads" style="margin-bottom: 20px;">
      <div class="col-sm-4">
        <h3 id="download-bootstrap">Efficient</h3>
        <p>Practice the <%= link_to "New General Service List", "http://newgeneralservicelist.org" %>: roughly 3000 words that make up 90% of general-use English.</p>
        <%= link_to "learn more", nil, class: "btn btn-primary" %>
      </div>
      <div class="col-sm-4">
        <h3 id="download-bootstrap">Accurate</h3>
          <p>Examples from <%= link_to "authentic texts", "http://www.natcorp.ox.ac.uk/" %></p>
          <%= link_to "learn more", nil, class: "btn btn-primary" %>
      </div>
      <div class="col-sm-4">
        <h3 id="download-bootstrap">Massive</h3>
          <p>100 million words: extensive examples show usage in real contexts.</p>
            <%= link_to "learn more", nil, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="row bs-downloads" style="margin-bottom: 20px;">
      <div class="col-sm-4">
        <h3 id="download-bootstrap">Variable</h3>
        <p>3 types of quizzes: multiple choice, matching and unscrambling. More to come!</p>
        <%= link_to "learn more", nil, class: "btn btn-primary" %>
      </div>
      <div class="col-sm-4">
        <h3 id="download-bootstrap">Trackable</h3>
        <p>Watch your progress, brag to your friends, impress your boss.</p>
        <%= link_to "learn more", nil, class: "btn btn-primary" %>
      </div>
      <div class="col-sm-4">
        <h3 id="download-bootstrap">Personalized</h3>
          <p>TOEFL, TOEIC, IELTS? Copy and paste your requirements and we'll do the rest!</p>
          <%= link_to "learn more", nil, class: "btn btn-primary" %>
      </div>
    </div>
</div>