<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nice work!</h1>
    <p>
      You've completed 5 quizzes at the site.<br/>
      <% if @user.quizzes.finished.size > 5 %>
      That's <%= @user.quizzes.finished.size %> quizzes total!<br />
      <% end %>
      Here are you most recent scores:<br/>
      <% @user.quizzes.finished.each do |quiz| %>
      <%= quiz.name %>:<br/>
      <%= quiz.questions.correct.size %> out of <%= quiz.questions.size %> correct
      <% end %>

    </p>
    <p>
      Nice work!
    </p>
    <p>View all of your stats here: <%= @url %></p>
  </body>
</html>