<div id="container" style="width:100%; height:400px;"></div>

<div class='span-7 text-center'>
    <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Back to Quizzes", quizzes_path, class: "btn btn-primary centered" %>
</div>
<script>
$(function () { 
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Quiz Results'
        },
        xAxis: {
            categories: <%= raw @user.finished_quizzes %>
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: '# Correct'
            }
        },
        series: [{
            name: 'Correct Answers',
            data:<%= @user.correct_questions %>
        },
        {
            name: 'Total Questions',
            data:<%= @user.total_questions %>
        }]
    });
});
</script>