<h2><%= @word.name %></h2>
<% if current_user %>
    <%= select("list", "name", current_user.lists.all.collect { |l| [ l.name, l.id]  } )%><%= link_to "Add", wordlists_path(word: @word, list: l.name), method: "post", class: 'btn btn-default btn-xs' %>
<% end %>
<h3>Part of speech: <%= @word.pos %></h3><br /> 
<h3>IPA pronunciation: <%= @word.ipa %></h3>
<p>Definition: <%= @word.definition %></p>