<nav class="navbar navbar-default" role="navigation">
	    <%= link_to "Thinkful App", root_path, class: "navbar-brand" %>
	    <% if current_user %>
		    <p class="navbar-text navbar-left">Signed in as:  <%= current_user.email %></p>
		    <%= link_to "Sign out", destroy_user_session_path, method: 'DELETE', class: "btn btn-default navbar-btn navbar-right" %>
		    <%= link_to "My profile", user_path(current_user), class: "btn btn-default navbar-btn navbar-right"%> 
		    <%= link_to "Word Tool", word_tool_path, class: "btn btn-primary navbar-btn navbar-right" %>
		    <%= link_to "Quiz", user_quizzes_path(current_user), class: "btn btn-success navbar-btn navbar-right" %>
	     
	    <% else %>
		    <%= link_to "Sign in", new_user_session_path, class: "btn btn-default navbar-btn navbar-right" %>
		    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default navbar-btn navbar-right" %>
	    <% end %>
</nav>